{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type='text/css' href="{% static 'styles/style.css' %}" />
    <title>Document</title>
    <base href="/">
  </head>
  <body>
    <div id="logo">
      <svg
        class="icon"
        xmlns="http://www.w3.org/2000/svg"
        width="30"
        height="55"
        viewBox="0 0 144.5 266"
      >
        <g id="Group_2" data-name="Group 2" transform="translate(-306 -122.5)">
          <rect
            id="Rectangle_3"
            data-name="Rectangle 3"
            width="84"
            height="5"
            transform="translate(306 247)"
          />
          <rect
            id="Rectangle_4"
            data-name="Rectangle 4"
            width="73"
            height="5"
            transform="translate(316 272)"
          />
          <rect
            id="Rectangle_5"
            data-name="Rectangle 5"
            width="79"
            height="5"
            transform="translate(326 297)"
          />
          <rect
            id="Rectangle_6"
            data-name="Rectangle 6"
            width="39"
            height="5"
            transform="translate(336 322)"
          />
          <rect
            id="Rectangle_7"
            data-name="Rectangle 7"
            width="54"
            height="5"
            transform="translate(346 347)"
          />
          <g id="Group_1" data-name="Group 1" transform="translate(23)">
            <text
              id="s"
              transform="translate(340.5 338.5)"
              fill="#fde720"
              font-size="200"
              font-family="SegoeUI-Semibold, Segoe UI"
              font-weight="600"
            >
              <tspan x="0" y="0">s</tspan>
            </text>
            <rect
              id="Rectangle_2"
              data-name="Rectangle 2"
              width="17"
              height="133"
              transform="translate(379.492 221.646) rotate(3)"
              fill="#fde720"
            />
          </g>
        </g>
      </svg>
      ABC MoneyTransfer
    </div>
    {%block content%}{%endblock%}
  </body>
</html>
